.column {
   display: flex;
   flex-direction: column;
}

.experience {
   position: absolute;
   right: 0;
   top: 0;
   height: 1080px;
   width: 980px;
}

.exp-header {
   height: 84px;
   width: 980px;
   border-bottom: 1px solid rgba(185, 180, 196, 0.3);

   font-family: "Open Sans";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 150%;
   text-transform: capitalize;
   color: #212529;

   display: flex;
   align-items: center;
   padding-left: 48px;
}

.exp-progress {
   margin-left: 48px;
   margin-top: 60px;

   display: flex;
}

.exp-progress-block {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.exp-progress-block span {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #000000;
   margin-top: 4px;
}

.exp-progress-btn {
   width: 40px;
   height: 40px;
   background: #ffffff;
   border: 1px solid #e5e6e8;
   border-radius: 8px;
   padding: 7px 13px;

   font-family: "Open Sans";
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #212529;
}

.progress-second {
   margin-left: 77px;
}

.progress-second .reg-progress-btn {
   background: #f5f5f5;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #95939a;
}

.exp-form-heading {
   margin-top: 112px;
   margin-bottom: 85px;
   margin-left: 48px;
}

.exp-form-heading h1 {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 150%;
   color: #000000;
}

.exp-form-heading h3 {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 150%;
   text-transform: capitalize;
   color: #95939a;
}

.level {
   margin-left: 38px;
   margin-top: 95px;
   width: 392px;
   height: 46px;
   background: #ffffff;
   box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
   border-radius: 4px;
   border: none;
   padding: 8px 16px;

   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #212529;
   cursor: pointer;
}

.options {
   margin-top: 4px;
   margin-left: 45px;

   width: 392px;
   height: 199px;
   background: #ffffff;
   border: 1px solid rgba(185, 180, 196, 0.3);
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   padding: 20px 0;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.options div {
   cursor: pointer;
   /* background-color: gray; */
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #000000;
   width: 392px;
   height: 45px;
   padding: 8px 20px;
}

.options div:hover {
   background: #f7f7f9;
   font-weight: 600;
   color: #000000;
}

.check-box {
   display: flex;
   margin-left: 55px;
}

.radio {
   display: flex;
   align-items: center;
   column-gap: 10px;

   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #212529;
}

.radio-btn {
   width: 20px;
   height: 20px;
   background: none;
   border: 1px solid #d9d9d9;
   border-radius: 50%;
   cursor: pointer;
}

.radio-header {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #212529;
   margin-left: 53px;
   margin-bottom: 20px;
   margin-top: 88px;
}
